<div class='container content'>
	<div class='row' id='fleetio-benefits'>
		<div class='span6'>
			<div class='row'>
				<div class='span1'>
					<div class='benefit-icon' id='one-place'></div>
				</div>
				<div class='span5 well'>
					<h3>Les liens</h3>
					<p class="tagline"><a href="/songs">Vas sur le gestionnaire 'Musique' si tu souhaites danser sur des morceaux  particuliers</a></p>				
					<dl>
						<dt><a href="/songs">Playlist</a></dt>
						<dd>Pour entrer les titres que tu souhaites entendre au cours de la soirée<p></dd>
						<dt><a href="/uploads/new">Uploader</a></dt>
						<dd>Si tu as des 'mp3' que tu souhaites nous envoyer...<p></dd>
					</dl>
				</div>
			</div>
			<div class='row'>
				<div class='span1'>
					<div class='benefit-icon' id='one-place'></div>
				</div>
				<div class='span5 well'>
					<h3>Possibilit&eacute;s d'h&eacute;bergement</h3>
					<p>
						Pour ceux qui viennent de loin (ou qui ne sont pas s&ucirc;rs d'&ecirc;tre en &eacute;tat de rentrer chez eux),
						Il y a possibilit&eacute; de r&eacute;server une chambre dans le ch&acirc;teau. Pour ceux que &ccedil;a int&eacute;resse,
						un petit mail &agrave; <a href="mailto:chantalethenri@abriva.net">chantalethenri@abriva.net</a> , et on essayera d'arranger &ccedil;a.
					</p>
				</div>
			</div>
		</div>
		
		<div class="span6">
			<div class='row'>
				<div class='span1'>
					<div class='benefit-icon' id='maintenance-tracking'></div>
				</div>
				<div class='span5 well'>
					<h3>La mairie</h3>
					<p>
						Mairie d'Yerres (91). 
					</p>
					<p>Vendredi 29 Juin 2012 - 16h00</p>
					<p>
						C&eacute;r&eacute;monie assez restreinte et plut&ocirc;t r&eacute;serv&eacute;e aux membres des familles et aux t&eacute;moins.
						Maintenant si tu veux prendre le risque de t'emb&ecirc;ter... tu es bienvenu(e)
					</p>
				</div>
			</div>
			<div class='row'>
				<div class='span1'>
					<div class='benefit-icon' id='maintenance-tracking'></div>
				</div>
				<div class='span5 well'>
					<h3>La boogie!...</h3>
					<p>
						Ch&acirc;teau du Mar&eacute;chal de Saxe (91). 
					</p>
					<p>Vendredi 29 Juin 2012 &agrave; partir de 20h30</p>
					<p>
						C'est l&agrave; que les vraies choses se passent. On compte sur toi pour la m&eacute;ga teuf
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
