<div class='container content'>
	<div class='row' id='fleetio-benefits'>
		<div class='span6'>
			<div class='row'>
				<div class='span1'>
					<div class='benefit-icon' id='one-place'></div>
				</div>
				<div class='span5 well'>
					<h3>Les liens</h3>
					<p class="tagline"><a href="/songs">Vas sur le gestionnaire 'Musique' si tu souhaites danser sur des morceaux  particuliers</a></p>				
					<dl>
						<dt><a href="/songs">Playlist</a></dt>
						<dd>Pour entrer les titres que tu souhaites entendre au cours de la soirée<p></dd>
						<dt><a href="/uploads/new">Uploader</a></dt>
						<dd>Si tu as des 'mp3' que tu souhaites nous envoyer...<p></dd>
					</dl>
				</div>
			</div>
			<div class='row'>
				<div class='span1'>
					<div class='benefit-icon' id='one-place'></div>
				</div>
				<div class='span5 well'>
					<h3>Possibilit&eacute;s d'h&eacute;bergement</h3>
					<p>
						Pour ceux qui viennent de loin (ou qui ne sont pas s&ucirc;rs d'&ecirc;tre en &eacute;tat de rentrer chez eux),
						Il y a possibilit&eacute; de r&eacute;server une chambre dans le ch&acirc;teau. Pour ceux que &ccedil;a int&eacute;resse,
						un petit mail &agrave; <a href="mailto:chantalethenri@abriva.net">chantalethenri@abriva.net</a> , et on essayera d'arranger &ccedil;a.
					</p>
				</div>
			</div>
		</div>
		
		<div class="span6">
			<div class='row'>
				<div class='span1'>
					<div class='benefit-icon' id='maintenance-tracking'></div>
				</div>
				<div class='span5 well'>
					<h3>La mairie</h3>
					<p>
						<a data-toggle="modal" href="#yerresMairie">Mairie d'Yerres (91).</a> 
					</p>
					<p>Vendredi 29 Juin 2012 - 16h00</p>
					<p>
						C&eacute;r&eacute;monie assez restreinte et plut&ocirc;t r&eacute;serv&eacute;e aux membres des familles et aux t&eacute;moins.
						Maintenant si tu veux prendre le risque de t'emb&ecirc;ter... tu es bienvenu(e)
					</p>
				</div>
			</div>
			<div class='row'>
				<div class='span1'>
					<div class='benefit-icon' id='maintenance-tracking'></div>
				</div>
				<div class='span5 well'>
					<h3>La boogie!...</h3>
					<p>
						<a data-toggle="modal" href="#saxe">Ch&acirc;teau du Mar&eacute;chal de Saxe (91)</a>
					</p>
					<p>Vendredi 29 Juin 2012 &agrave; partir de 20h30</p>
					<p>
						C'est l&agrave; que les vraies choses se passent. On compte sur toi pour la m&eacute;ga teuf
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="yerresMairie" class="modal hide fade">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">&times;</button>
		<h3>Mairie de Yerres</h3>
	</div>
	<div class="modal-body">
		<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=Mairie+de+Yerres,+Yerres,+France&amp;aq=1&amp;oq=Mairie+Yerres,+France&amp;sll=37.0625,-95.677068&amp;sspn=36.999937,71.191406&amp;t=h&amp;ie=UTF8&amp;hq=Mairie&amp;hnear=Yerres,+Essonne,+%C3%8Ele-de-France,+France&amp;fll=48.717385,2.486429&amp;fspn=0.003766,0.00869&amp;st=109146043351405611748&amp;rq=1&amp;ev=zi&amp;split=1&amp;ll=48.705194,2.482195&amp;spn=0.003766,0.00869&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=Mairie+de+Yerres,+Yerres,+France&amp;aq=1&amp;oq=Mairie+Yerres,+France&amp;sll=37.0625,-95.677068&amp;sspn=36.999937,71.191406&amp;t=h&amp;ie=UTF8&amp;hq=Mairie&amp;hnear=Yerres,+Essonne,+%C3%8Ele-de-France,+France&amp;fll=48.717385,2.486429&amp;fspn=0.003766,0.00869&amp;st=109146043351405611748&amp;rq=1&amp;ev=zi&amp;split=1&amp;ll=48.705194,2.482195&amp;spn=0.003766,0.00869" style="color:#0000FF;text-align:left">Agrandir le plan</a></small>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal" >Fermer</a>
	</div>
</div>
<div id="saxe" class="modal hide fade">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">&times;</button>
		<h3>Ch&acirc;teau du Mar&eacute;chal de Saxe</h3>
	</div>
	<div class="modal-body">
		<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=Chateau+marechal+de+saxe&amp;aq=&amp;sll=48.705194,2.482195&amp;sspn=0.030134,0.069523&amp;t=h&amp;ie=UTF8&amp;hq=Chateau+marechal+de+saxe&amp;ll=48.72911,2.495404&amp;spn=0.01472,0.032015&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=Chateau+marechal+de+saxe&amp;aq=&amp;sll=48.705194,2.482195&amp;sspn=0.030134,0.069523&amp;t=h&amp;ie=UTF8&amp;hq=Chateau+marechal+de+saxe&amp;ll=48.72911,2.495404&amp;spn=0.01472,0.032015" style="color:#0000FF;text-align:left">Agrandir le plan</a></small>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal" >Fermer</a>
	</div>
</div>
