<%- model_class = @guest.class -%>
<h2><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                               :default => "Nouvel invite") %></h2>
<%= render :partial => 'form' %>
