// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

.painting {
  border: solid 1px #CCC;
  padding: 10px 10px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.painting .name {
  padding-top: 5px;
  text-align: center;
  font-weight: bold;
}

.painting .image_placeholder {
  width: 200px;
  height: 150px;
  background-color: #B6B6B6;
}

.painting .actions {
  font-size: 10px;
  text-align: center;
  color: #777;
}